


body{
    background-color: #aad4cf;
}
.container{
    position: relative;
    max-width: 1024px;
    margin: 0 auto;
    background-color: #d4e9e7;
}
h1{
    color: white;
    font-size: 58px;
   
    position: absolute;
    
    top: 150px;
    left: 33%;
}
nav li{
    display: inline-block;
    padding: 10px 110.5px 25px;
    font-size: 26px;
    font-weight: 500;
    border-right: 2px solid #748071;
    
}
nav li:nth-child(3){
    border-right: none;

}
  nav li a{
    text-decoration: none;
    color: black;
  }

  .wrapper{
    margin: 0 10px;
  }
.heading2{
    
    font-size: 30px;
    margin-bottom: 5px;
}


 .example{
 
    float: left;
    width:220px;
    margin-top:5px;
    margin-right:20px;
    margin-bottom:12px;

 }
 h3{font-size: 20px;
    font-weight: 400;

 }
 input[type=text] {
    width:99%;
    height:20px;
   
 }
 #message{
    height: 50px;

 }
 form{
    padding-top: 20px;
    
 }
 #fullname{
    margin-bottom: 20px;
   

 }
 #email{
    margin-bottom: 20px;


 }
 #maybe{
    margin-bottom: 20px;

 }
 
 input[type=button] {
    width: 60px;
    height: 40px;
    background-color: #d4e9e7;
 }
 label{
    font-size: 20px;
    font-weight: 500;
 }
 footer p{
    text-align: right;
    padding: 20px;
    /* margin: 20px; */
    /* margin-bottom: 20px; */
    
 }