footer {
    display: flex;
    justify-content:center;
    align-items: flex-start;
    flex-direction: column;
    background-color: #222222;
    height: 80px;
    color: #c48908;
  }
  footer p:first-child {
     margin-bottom: 10px;
  }
    
  footer a {
    color: #c48908;
    text-decoration: underline;
  }
  