/* main */
.team-container {
    margin: auto;
  }
  
  .team-container > h2 {
    font-size: 26px;
    font-weight: 700;
    margin: 20px 0;
  }
  
  .team-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffe6ac;
  }
  .team-container > div.reverse {
    flex-direction: row-reverse;
  }
  .team-container > div img {
    width: 50%;
  }
  .team-container > div > div {
    align-self: start;
    padding: 20px;
  }
  
  .team-container > div > div > .subtitle {
    display: block;
    border-bottom: 2px solid #c78b07;
    margin: 10px 0;
  }
  
  @media screen and (max-width: 760px) {
    .team-container > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #ffe6ac;
      margin-bottom: 20px;
    }
    .team-container > div img {
      width: 100%;
    }
    .team-container > div.reverse {
      flex-direction:column;
    }
  
  }
  