/* main */
.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  
    height: calc(100vh - 142px - 80px);
    background-color: #ffe6ac;
  }
  
  .about-container > img {
    width: 50%;
  }
  
  .about-container > div {
    width: 50%;
    padding: 20px;
  }
  
  .about-container > div > h2 {
    font-size: 26px;
    font-weight: 700;
  }
  .about-container > div > p {
    margin-top: 10px;
    font-size: 14px;
  }
  
  @media screen and (max-width: 760px) {
    .about-container {
      flex-direction: column;
    }
    .about-container > img {
      width: 100%;
    }
    
    .about-container > div {
      width: 100%;
      padding: 20px;
    }
  }
  