/* main */
.contact-container {
    margin: auto;
  }
  
  .contact-container > h2 {
    font-size: 26px;
    font-weight: 700;
    margin: 20px 0;
  }
  .contact-container h3 {
    font-weight: 700;
    margin-bottom: 20px;
  }
  .contact-container > .flex-container-contact {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 20px;
  }
  
   .contact-container > .flex-container-contact form input {
    width: 100%;
    margin-bottom: 10px;
  }
  .contact-container > .flex-container-contact form button{
    background-color: #222222;
    color: #c78b07;
    border: none;
    padding: 6px 20px;
  }
  .contact-container > .flex-container-contact .messageinput{
    height: 50px;
    margin-bottom: 20px;
  }
  
  .contact-container .operation {
   margin: 20px 0;
  }
  .contact-container .operation table{
    width: 100%;
  }
  .contact-container .operation table,thead,th,td{
    
    border-collapse: collapse;
    border: 1px solid #222222;
    height: 40px;
  }
  .contact-container .operation table>thead{
    background-color:#ffe6ac ;
    line-height: 40px;
  }
  .contact-container .operation table td{
    line-height: 40px;
    padding-left: 20px;
  }
  @media screen and (max-width: 760px) {
    .contact-container > .flex-container-contact {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 0px;
     }
     iframe{
      width: 100%;
     }
  }
  